body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  color: #f5f6f7;
  font-family: Tahoma, Helvetica, sans-serif;
  font-size: 16px;
}

/* ATENÇÃO QUE O STYLE NÃO ESTÁ COMPLETO */

form {
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
  }

fieldset {
    border: none;
    border-bottom: 3px solid #3b3b4f;  
    padding: 2rem 0;
}

fieldset:last-of-type{
    border-bottom: none;
}

h1, p{
    text-align:center;
    margin: 1em auto;
}

label{
    display: block;
    margin: 0.5rem;
}

#first-name, #last-name, #email, #new-password, #profile-picture, #age, #bio{
    display: flex;
background-color: #10101e;
border: 0px solid;
width: 100%;
height: 20px;
margin: 8px 0;
}

#referrer{
    display: flex;
    width: 100%;
    height: 25px;
}

#bio{
    resize: none;
    height: 50px;
}

input[type=submit]{
    background-color: #3b3b4f;
    color: #f5f6f7; 
    margin: auto;
    display: block;
    padding: 6px 100px;
    border: 1px solid white;
}

.inline {
    width: unset;
}



